.main {
  display: flex;
  color: black;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 6rem;
  background-color: white;
}
.body{
  min-height: 100vh;
  background-color: white;
}
.dn{
  /* border: 1px solid red; */
  padding: 20px;
  border-radius: 5%;
  background-color: #EEEEEE;
}

.bar {
  padding: 10px;
  border-radius: 5%;
  background-color: #EEEEEE;
  height: 340px;
  width: 340px;
}

@media only screen and (max-width: 900px) {
  .main{
  flex-direction: column;
  }
}